.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    color: black;
    margin: 0px 20px;
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    color: #F3DE2C;
    font-weight: bold;
    padding: 4px;
    width: 14px;
    height: 14px;
}