.card {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .5px solid gray;
    cursor: pointer;
}

.card:first-child {
    border-top: .5px solid gray;
}

.card:hover {
    background-color: rgba(87, 85, 85, 0.100);
    font-weight: bold;
}